body {
  background-color: #323232;
  font-size: 12px;
  flex-flow: "Microsoft Yahei", sans-serif;
  padding: 100px;
}

* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

.tab {
  width: 300px;
}

.tab .tab-nav {
  height: 30px;
}

.tab .tab-nav li {
  float: left;
  margin-right: 5px;
  background-color: #767676;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.tab .tab-nav li a {
  display: block;
  height: 30px;
  padding: 0 20px;
  color: #fff;
  line-height: 30px;
  text-decoration: none;
}

.tab .tab-nav li.actived {
  background-color: #fff;
}

.tab .tab-nav li.actived a {
  color: #333;
}

.content-wrap {
  background-color: #fff;
  padding: 5px;
  position: relative;
  height: 163px;
  overflow: hidden;
}

.content-item {
  display: none;
  position: absolute;
}

.content-item.current {
  display: block;
}

.content-item img {
  display: block;
  width: 290px;
}